<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Welcome to Matt's Bar! Home of the Original Jucy Lucy</h1>
    <img class="img-fluid" src="assets/img/burger.jpg" alt="burger image">
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h2>Burgers on Menu</h2>
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
          {{this.id}}
          {{this.burger_name}}

          <button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
            {{#unless devoured}}EAT UP!{{/unless}}
          </button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>


    <div class="col-sm-6">
      <h2>Jucy Lucy's Already Eaten</h2>

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
          {{this.id}}
          {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <h2>Add a New Jucy Lucy to Eat!</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="burg" name="name">
    </div>

    <div class="form-group">
      <label for="devoured">Devoured?</label><br>
      <input style="color: #fff" type="radio" name="devoured" value="0" checked> Uneaten<br>
      <input style="color: #fff" type="radio" name="devoured" value="1"> Devoured!
    </div>

    <button type="submit">Add Burger</button>
  </form>
</div>