<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/img/burger.jpg" alt="burger image">
            <h1>Welcome to Matt's Bar!</h1>
            <h2>Have a Jucy Lucy!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Burgers on Menu</h2>
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                    <li>
                        {{this.id}}
                        {{this.burger_name}}

                        <button class="change-eaten" data-id="{{id}}" data-devoured="{{devoured}}">
                            {{#if devoured}}YUM YUM!{{else}}ALL GONE!{{/if}}
                        </button>
                    </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>

<h2>Jucy Lucy's Already Eaten</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      {{this.id}}
      {{this.burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a New Jucy Lucy to Eat!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> Uneaten<br>
    <input type="radio" name="devoured" value="1"> Devoured!
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>